.header{
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: #000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 5px 0;
    .menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            margin-right: auto;
            img{
                @media screen and (min-width: 320px){
                    width: 85px;
                }
                @media screen and (min-width: 1024px){
                    width: 120px;
                }
            }
        }
        .group{
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: #000;
            display: flex;
            align-items: center;
            @media screen and (min-width: 320px){
                position: fixed;
                display: unset;
                align-items: unset;
                width: 70%;
                left: 0;
                top: 0;
                z-index: 9999;
                height: 100%;
                padding-top: 150px;
                transition: all .2s ease-in-out;
                transform: translateX(-100%);
                opacity: 0;
            }
            @media screen and (min-width: 768px){
                position: fixed;
                width: 70%;
                left: 0;
                top: 0;
                z-index: 9999;
                height: 100%;
                padding-top: 150px;
                transition: all .2s ease-in-out;
                transform: translateX(-100%);
                opacity: 0;
            }
            @media screen and (min-width: 1024px){
                position: inherit;
                width: auto;
                left: auto;
                top: auto;
                z-index: 9999;
                padding-top: 0;
                margin-left: 0;
                display: flex;
                align-items: center;
                transition: all .2s ease-in-out;
                transform: translateX(0);
                opacity: 1;
            }
            li{
                display: inline-block;
                margin-right: 20px;
                &:nth-child(2){
                    margin-left: auto;
                }
                a{
                    text-decoration: none;
                    color: #fff;
                    font-size: 16px;
                    &:hover,&:active{
                        color: #80CBC4;
                    }
                }
                .active{
                    color: #80CBC4;
                }
            }
            .user{
                display: flex;
                align-items: center;
                order: 4;
                @media screen and (min-width: 320px){
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                @media screen and (min-width: 768px){
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                @media screen and (min-width: 1024px){
                    position: unset;
                    top: auto;
                    left: auto;
                }
                .name{
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
            .item-menu{
                @media screen and (min-width: 320px){
                    width: 90%;
                    padding: 15px 13px;
                }
                @media screen and (min-width: 768px){
                    width: 90%;
                    padding: 15px 13px;
                }
                @media screen and (min-width: 1024px){
                    width: auto;
                    padding: 0;
                    border-bottom: none;
                }

            }
            .search-item{
                    @media screen and (min-width: 320px){
                        position: absolute;
                        top: 90px;
                        left: 10px;
                    }
                    @media screen and (min-width: 768px){
                        position: absolute;
                        top: 90px;
                        left: 10px;
                    }
                    @media screen and (min-width: 1024px){
                        position: unset;
                        top: auto;
                        left: auto;
                    }
                form{
                    @media screen and (min-width: 320px){
                        width: 100%;
                    }
                    @media screen and (min-width: 768px){
                        width: 100%;
                    }
                    @media screen and (min-width: 1024px){
                        width: 300px;
                    }
                }
            }
        }
        .active{
            @media screen and (min-width: 320px){
                transition: all .2s ease-in-out;
                transform: translateX(0);
                opacity: 1;
            }
            @media screen and (min-width: 768px){
                transition: all .2s ease-in-out;
                transform: translateX(0);
                opacity: 1;

            }
            @media screen and (min-width: 1024px){
                transition: all .2s ease-in-out;
                transform: translateX(0);
                opacity: 1;

            }
        }
        .position-cart{
            span{
                font-size: 20px;
            }
            @media screen and (min-width: 320px){
                position: fixed;
                top: 13px;
                right: 65px;
            }
            @media screen and (min-width: 768px){
                position: fixed;
                top: 13px;
                right: 65px;
            }
            @media screen and (min-width: 1024px){
                position: inherit;
                top: auto;
            }
        }
        .icon-menu{
            @media screen and (min-width: 320px){
                display: inherit;
                margin-right: 10px;
                font-size: 20px;
            }
            @media screen and (min-width: 768px){
                display: inherit;
                margin-right: 10px;
                font-size: 20px;
            }
            @media screen and (min-width: 1024px){
                display: none;
            }
        }
    }
}

span.anticon.anticon-login, span.anticon.anticon-shopping-cart,span.anticon.anticon-menu.icon-menu {
    color: #fff;
}