.nav{
    padding: 10px;
    .avatar{
        padding: 15px 0;
        display: flex;
        justify-content: center;
    }
    .list{
        list-style: none;
        padding-left: 0;
        margin: 0;
        li{
            border-bottom: 1px solid steelblue;
            &:last-child{
                border-bottom: none;
            }
            a{
                display: block;
                padding: 10px;
                text-decoration: none;
                color: #333;
            }
        }
    }
}