
.sign-up{
    max-width: 600px;
    margin: 0 auto;
    margin-top: auto;
    width: 100%;
    .heading-login{
        text-align: center;
        font-size: 22px;
        text-transform: uppercase;
    }
    .main{
        padding: 20px;
    }
    .btn-login{
        margin: 8px;
    }
    .check{
        margin-left: -3px;
    }
    .login-link{
        text-decoration: none;
        color: lightcoral;
        margin-left: 8px;
    }
}