.product-item{
    height: 100%;
    .title{
        line-height: 1rem;
        font-size: 15px;
        a{
            color: black;
            text-decoration: none;
        }
    }
    .price{
        color: red;
    }
}